################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Files
/TestConsoleApp/bin/Debug
/TestConsoleApp/obj/Debug
/TestConsoleApp1/obj/Debug
/TestConsoleApp1/bin/Debug
/WikiPeeksClass/obj/Debug
/WikiPeeksClass/bin/Debug
/.vs/WikiPeeksClass/v15/Server/sqlite3/db.lock
/obj/Docker
/TestConsoleApp1/obj/Release
/WikiPeeksAPI.Tests/obj
/WikiPeeksClass/obj/Release
